* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    position: relative;
    width: 1280px;
    height: inherit;
    /* background: rgba(0,0,0,0.3); */
    margin: 0 auto;
    z-index: 300;
}
header {
    background: rgba(255, 248, 248, 0.753);
}
#header {
    width: 100%;
    height: 20px;
    /* background: red; */
}
/* 헤더 로그인 */
#header .login {
    overflow: hidden;
    height: 20px;
    /* background: yellow; */
}
#header .login ul {
    float: right;
    font-size: 12px;
    color: #777;
    padding-top: 2px;
}
#header .login ul li {
    display: inline-block;
}
#header .login ul li:nth-child(2):before {
    content: "·";
    color: #969696;
    margin-right: 2px;
}
#header .login ul li:last-child {
    padding-right: 2px;
}
#header .login ul li:nth-child(3)::before {
    content: "·";
    color: #969696;
    margin-right: 2px;
}
/* 메인 헤더 */
#main_header {
    height: 60px;
    /* background: skyblue; */
}
#main_header .logo {
    font-size: 26px;
    text-transform: uppercase;
}
#main_header .logo h3{}
#main_header .logo_icon {
    position: absolute;
    top: 0;
    left: 12%;
    font-size: 28px;
}
#main_header .logo_icon span {

}
#main_header .search {
    position: absolute;
    top: 0;
    left: 40%;
    padding-top: 5px;
}
#main_header .search input {
    width: 400px;
    height: 40px;
    outline: none;
    font-size: 16px;
}

#main_header .search i {
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}
.upmenu {
    width: 190px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 72%;
    font-size: 14px;
    padding-top: 16px;
}
.upmenu ul {
    /* background: blue; */
}
.upmenu ul li {}
#main_header .icon {
    position: absolute;
    top: 0px;
    right: 0;
}
#main_header .icon > ul {
}
#main_header .icon > ul > li {
    display: inline-block;
    padding:10px 7px;
}
#main_header .icon ul li:last-child {
    margin-right: 5px;
}
#main_header .icon > ul > li span {}
#main_header .icon > ul > li span i {
    font-size: 18px;
    padding-top: 5px;
}
/* 메뉴들 */
#header_menus {
    height: 40px;
    /* background: greenyellow; */
}
#header_menus .menu {
    display: flex;
    justify-content: space-between;
}
#header_menus .sub_menu {
    position: relative;
    overflow: hidden;
}
#header_menus .sub_menu:hover {
    overflow: visible;
}
#header_menus .sub_menu  li {
    float: left;
    padding: 6px 0px;
}
#header_menus .sub_menu  li  img {
    width: 70px;
    height: 25px;
    padding:0px 5px;

}
#header_menus .main_menu {
    text-align: right;
    font-size: 12px;
    font-weight: 700;
}
#header_menus .main_menu li {
    float: left;
    padding: 6px 4px;
    cursor: pointer;
}
#header_menus .main_menu li:hover {
    color: #2dc349;
}
/* 서브메뉴 드롭다운 */
#header_menus .menu ul.sub_menu .drop_menus {
    display: flex;
    position: absolute;
    top: 43px;
    width: 100%;
    background: #999;
    padding: 15px;
}
#header_menus .menu ul.sub_menu .drop_menus ul {
}
#header_menus .menu ul.sub_menu .drop_menus ul li {
    padding: 12px;
    font-size: 12px;
}
#header_menus .menu ul.sub_menu .drop_menus ul li a {
    color: #fff;
    text-decoration: none;
}